doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Socket.io IM Demo App
    link(rel='stylesheet', href='socketTest3/css/app.css')
    link(rel='stylesheet', href='socketTest5/css/app.css')
  body
    block body