h1 new person .......

form(action='/users',method='POST')
	
	p Name:
	input#name(type='text',name='name')

	p Age:
	input#age(type='number',name='age')

	p Sex:
	input#sex(type='boolean',name='sex')

	p
	button(type='submit') Create